<html>
{% if title == wikiname %}
<title>{{wikiname}}</title>
{% else %}
<title>{{title}} - {{wikiname}}</title>
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<h1>{{wikiname}}</h1>
<a href="/">Home page</a> - <a href="/allpages">All pages</a> - <a href="/random">Random page</a> | {% if title == wikiname %}<a href="main/edit">Edit</a>
{% else %}
<a href="{{title}}/edit">Edit</a>
{% endif %}
- <a href="/create">Create new page</a>
<a style="float: right;" href="/preferences">Preferences</a>
<hr>
{% if title == wikiname %}
  <h1>Main Page</h1>
{% else %}
  <h1>{{title}}</h1>
{% endif %}
<div>{{ content | safe }}</div>
<hr>
This page was last modified on {{last_modified}}
</html>