<title>Editing {{page}} - {{wikiname}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<h1>{{wikiname}}</h1>
<a href="/">Home page</a> - <a href="/allpages">All pages</a> - <a href="/random">Random page</a> | <b>Edit</b> - <a href="/create">Create new page</a>
<a style="float: right;" href="/preferences">Preferences</a>
<hr>
<h1>Editing {{page}}</h1>
<form method="POST">
  <textarea name="content" rows="10">{{ content }}</textarea>
  <br>
  <input type="submit" value="Save"><button onclick="window.location.href='/{{page}}';">Cancel</button>
</form>